* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

/* Globales  */

.Contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.centrar-texto {
  text-align: center;
}
.titulo {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  letter-spacing: 0em;
  margin-top: 5rem;
  word-spacing: 0em;
  line-height: 1.3em;
  text-transform: none;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.centrar {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Titulo */

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.seven h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #ffca28;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffca28;;
  border-top: 1px solid #ffca28;
  height: 5px;
  background-color: #f8f8f8;
}

/* Header-nav */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color:   #656d78;;;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.header {
  box-shadow: 0 0 10px 0 rgba(182, 158, 218, 0.863);
  padding-bottom: 10px;
  margin-bottom: 15px;
  /* font-family: "Quicksand", sans-serif; */
  background-color: #dfdfe6d7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 768px) {
  .pruebatop {
    margin-top: 14rem;
  }
}

/*quienes somos*/
.quienessomosInfo p {
 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size:17px;
  line-height: 1.4;
  color: #656d78;
  
  margin: 2rem auto;
}

.centrar-texto {
  margin-top: 1px;
}

/* Mision */


@media (min-width: 768px) {
  .mision {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 10px;
    margin: 10px;

    
  }

}


.misionimg img {
  max-width: 100%;
  box-shadow: 0 0 10px 0 rgba(92, 53, 151, 0.863);
  border-radius: 20px;
}
.misionimg img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  overflow: hidden;
}

.misiondescription {
  color: #ffca28;
  font-family: "Quicksand", sans-serif;
  align-items: baseline;
}



.misiondescription p{

  color: #656d78;;
}

/* Materiales */
.materialdescripcion p {
  text-align: justify;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
    color: #656d78;;
}
.materialdescripcion li {
  list-style: circle;
  margin: auto 2rem;
  font-weight: bold;
  color: rgb(73, 71, 71);
}

@media (max-width: 768px) {

}
.material h5 {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  /* text-align: center; */
}
.material img {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 8px;
}
.float {
  background-color: #e45050;
  border-radius: 21px;
}

@media (min-width: 768px) {
  .material {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem auto;
    align-items:initial;
  }
  .material h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin-top: 0;
  }
}



.material {
  margin: 1.5rem;
  padding: 20px;
  border-bottom: #bbbbbb8c solid 1px;
}



/* Valores */

.valores {
  margin: 50px auto;
  padding: 25px;
}

.somos {
  padding-top: 0px;
}

.valores h5 {
  color: #000000;
}
.valores p {
  margin: 1rem;
  color: #656d78;
}

.valores h2 {
  text-align: center;
  margin: 20px auto;
  color: #ffca28;
  margin-top: 3rem;
}

.imgValor {
  background-color: #ffffff9a;
  padding: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(92, 53, 151, 0.863);
}

.imgValor2 {
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(92, 53, 151, 0.863);
  margin: 40px;
}



.materialimg:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  overflow: hidden;
}

.v-icono:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  overflow: hidden;
}

@media (min-width: 768px) {
  .valoresiconos {
    display: flex;
    justify-content: space-between;
  }
}

.v-icono {
  text-align: center;
  line-height: 1.2;
}

/* Servicios */

.Contenedor-servicios {
  max-width: 1000px;
  margin: 0 auto;
}
.servicio {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem auto;
  border-bottom: solid 4px rgb(155, 150, 150);
}

.imgWrapper4 {
  font-size: 0;
  text-align: center;
}
.imgWrapper4 .imgResponsiva {
  display: inline-block;
  font-size: inherit;
  padding: 5px;
}
.imgWrapper4 .imgResponsiva {
  width: 24%;
}

.imgResponsiva img {
  height: auto;
  width: 100%;
}

.servicio h3 {
  margin: 1rem auto;
  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.servicio p {
  text-align: justify;
  margin: 1rem auto;
  color: #656d78;
  font-size: 17px;

}
.servicio img {
  margin: 2px;
  border-radius: 5px;
  height: 150px;
  box-shadow: 0 0 5px 0 rgba(92, 53, 151, 0.863);
}

/*Responsive*/

@media (max-width: 767px) {
  .imgWrapper4 .imgResponsiva {
    width: 45%;
  }
}

.servicio img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  overflow: hidden;
}
.servicios li {
  list-style: circle;
  align-items: flex-end;
  line-height: 2;
  font-weight: bold;
  color: rgb(73, 71, 71);
}

.servicios ul {
  padding-left: 40px;
  padding-bottom: 10px;

}

/* Asesoria */
.asesoriaimg img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  
}

.asesoria{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: initial;
  margin-top:40px;
}


.asesoriadescripcion h5 {
  margin: 1rem auto;
  text-align: center;
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffca28;
  
}

.imgAsesoria {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(92, 53, 151, 0.863);
}

.asesoriaimg p {
  margin: 25px;
  text-align: justify;
}

.imgAsesoria:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  overflow: hidden;
}

/* Contacto */
.img_contacto img {
  width: 100%;
  height: 90vh;
}
.contenido-centrado {
  max-width: 800px;
  margin: 0 auto;
}

.centrar-texto {
  text-align: center;
}
fieldset {
  padding: 5px;
  margin: 40px;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.boton {
  background-color: #358525;

  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  text-align: center;
  border: none;
  display: flex;
  justify-content: flex-end;
}
input {
  padding: 1rem;
  display: inline-block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}
textarea {
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 5px;
}

/* Boton de contacto */
.cotizar {
  margin: 4rem auto;
}
#neonShadow {
  height: 50px;
  width: 100px;
  padding: 0 20px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  background-color: #ffca28; ;
  animation: glow 1s infinite;
  transition: 0.5s;
}
.cotizar span {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 15%;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 1.2rem;
  transition: 0.3s;
  opacity: 0;
}
.cotizar span {
  opacity: 1;
  cursor: pointer;
}

@keyframes glow {
 

  0% {
    box-shadow: 5px 5px 20px rgb(235, 219, 4), -5px -5px 20px rgb(241, 167, 9);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(233, 229, 19), -5px -5px 20px rgb(234, 238, 17);
  }
}

/* footer */

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
li {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}
.footer {
  background-color: #24262b;
  padding: 20px 0 10px 0;
}
footer p {
  color: #ffffff;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col ul {
  padding-left: 5px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fad501;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  /* line-height: 40px; */
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.derechos {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #bbbbbb;
  margin-top: 20px;
  margin-bottom: 0;
}
.derechos span {
  color: rgb(238, 214, 0);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Style The Dropdown Button */
.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7e6ee;
  min-width: 160px;
  z-index: 1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  border-bottom: #00000017 solid 1px;
  text-decoration: none;
  display: block;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: #0000002c solid 1px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d0ced675;
  color: #ffca28;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: none;
}
